.doacoes {
    display: flex;
    flex-direction: row;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.doacoes_informacoes {
    margin-top: 1rem;
    width: 70%;
}
.doacoes_classes {
    text-decoration: none;
    margin-top: 1rem;
    width: 30%;
}
.doacoes_lista {
    display: flex;
    flex-direction: row;
    list-style:none;
    text-decoration: none;
    border-radius: 30px 0 0 30px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: var(--cor1);
}
.doacoes_lista_img {
    margin-right: 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.doacoes_titulo {
    margin-top: 1rem;
    margin-left: 1rem;
    color: var(--cor3);
    font-size: 3em;
    font-family: var(--font-destaque);
}
.doacoes_lista_titulo {
    color: var(--cor5);
}
.doacoes_lista_texto{
    color: var(--cor4);
    font-weight: 600;
}
.doacoes_texto {
    margin-left: 1rem;
    padding: 0 40% 0 0 ;
    font-size: 1.2em;
    font-weight: 600;
}
.doacoes_imagem{
    width: 80%;
}
.doacoes_classes_link {
    color: var(--cor5);
    text-decoration: none;
    transition: 0.5s;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: var(--cor6);
}

.doacoes_classes_link:hover {
    color: var(--cor4)
}

@media screen and (max-width: 769px) {
    .doacoes {
        display: flex;
        flex-direction: column;
    }
    .doacoes_classes {
        width: auto;
    }
    .doacoes_texto {
        padding: 0;
    }
    .doacoes_lista {
        padding: 0.5rem;
    }
}